html{
    overflow: hidden;
}

#div h1{
    font-size: 60px;
}
#div p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#div p::after{
    content:"";
    height: 2px;
    width: 50%;
    background-color: white;
    position: relative;
    transition: 300ms all ease-in-out;
    transform-origin: center;
    transform: scaleX(0);
}
#div:hover p::after{
    transform: scaleX(1);
}
nav{
    height: 350px;
    top: 5%;
    padding: 10px;

}
nav #move{
    height: 275px;
    padding: 10px;    
}


#div2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 1s all ease-in-out;
    background-color: white;
    z-index: 2;
}
#icon{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%) rotate(0deg);
    width: 90px;
    height: 90px;
    transition: 450ms ease-in-out;
}
#icon:hover{
    transform: translateX(-50%) rotate(360deg);
}
#text{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#text p{
    width: 50%;
    height: 60%;
    margin: 25px;
    overflow: hidden;
}
#text h1{
    margin: 0;
}
#wrapper_img{
    width: 30%;
    height: 80%;
    overflow: hidden;
    transform-origin: center;
    position: relative;
}
#wrapper_img img{
    width: 100%;
    height: 100%;
}
#drop{
    background-color: white;
    width: 101%;
    height: 101%;
    position: absolute;
    transform-origin: right;
}
@keyframes drop{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
#div2 i{
    position: absolute;
    display: block;
    top: 5%;
    left: 2%;
    font-size: 35px;
    cursor: pointer;
    transition: 150ms;
}
#div2 i:hover{
    color: #998572;
}


#devalez{
    display: none;
}

